{% extends 'layout.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{{ super() }}
<div class="text-center">
  <img class="margin_image" src="{{ url_for('static', filename='images/main_pizza.png') }}">
    <h1 class="margin_down_low" style>Fayna Pizza Vid Ruclanchika</h1>
    <h1 style="display: inline" class="margin_down_low fw-light">Hello </h1>
    <h1 style="display: inline" class="margin_down_low fw-light text-warning">{{ user }}</h1>
    <div class="text-center margin_up_low">
      <a href="/menu"><button class="buttons-main btn btn-outline-danger">MENU</button></a>
    </div>
    <div class="text-center">
      <a href="/menu/pizza"><button class="buttons-main btn btn-outline-warning">Pizza</button></a>
    </div>
    <div class="text-center">
      <a href="/menu/beverages"><button class="buttons-main btn btn-outline-info">Beverages</button></a>
    </div>
  </div>
{% endblock content %}